{% block header %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %}

{% block content %}
<form method="post" action="/message">
	<div class="container">
		<div class="card" style="width: 38rem;">
		<div class="container">
			<div class="form-outline w-45 mb-4">
				<br><br>
				<label class="form-label" for="textAreaExample">Message</label>
				<textarea name="descripcion" class="form-control" id="textAreaExample1" rows="4"
					cols="2"> {{datos}}</textarea>
				
			</div>
			<div>
				<input class="w-45 mb-4" name="mensaje" id="mensaje" required>
				<input type="submit" value="Enviar">
			</div>
		</div>
	</div>
</form>
{% endblock %}